<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row m-5">
        <div class="col-md-12">
          <h2>CV PROFILE LIST</h2>
        </div>
      </div>

      {% for profile in userslist %}
        <div class="row">
            <div class="col-md-3">
            <h3>{{profile.name}}</h3>
        </div>
        <div class="col-md-6">
            <a href="/{{profile.id}}" class="btn btn-warning">Download</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
